* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, sans-serif; }

a {
  text-decoration: none; }

.login main section div, .login main section div form, .login main section div form .form-input, .home__image div, .home__targets .card, main .history, main .history .cards-wedding__card {
  display: flex;
  flex-direction: column;
  gap: 8px; }

.login {
  background-color: #E8E0D5; }
  .login main {
    display: grid;
    place-content: center;
    height: 100dvh; }
    .login main section {
      background-color: white;
      padding: 24px; }
      .login main section div form .form-input {
        gap: 4px; }

header {
  background-color: #924032; }
  header nav {
    display: flex;
    justify-content: center;
    width: 100%; }
    header nav ul {
      max-width: 1200px;
      display: flex;
      gap: 8px;
      width: 100%;
      justify-content: space-between;
      padding: 24px;
      text-decoration: none;
      list-style: none; }
      header nav ul li * {
        color: #E8E0D5; }

.home {
  width: 100%; }
  .home__image {
    height: 100dvh;
    position: relative; }
    .home__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .home__image div {
      position: absolute;
      width: 100%;
      bottom: 20%; }
      .home__image div * {
        text-align: center;
        color: #E8E0D5; }
  .home__targets {
    background-color: #E8E0D5;
    width: 100%;
    min-height: 60dvh;
    display: flex;
    gap: 12px;
    padding: 24px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; }
    .home__targets .card {
      gap: 8px;
      padding: 24px;
      background-color: white;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
      border-radius: 12px;
      width: 100%;
      max-width: 450px;
      min-width: 300px;
      height: fit-content;
      transition: all ease 200ms; }
      .home__targets .card:hover {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.17);
        transform: translateY(-6px); }
      .home__targets .card * {
        text-align: center;
        color: #6A725D; }
      .home__targets .card .divider {
        height: 1px;
        width: 100%;
        background-color: #E8E0D5; }

main {
  background-color: #6A725D; }
  main .history {
    align-items: center; }
    main .history section {
      max-width: 1200px; }
    main .history__romance {
      padding: 24px;
      display: flex;
      gap: 24px;
      height: 15dvh;
      align-items: center; }
      main .history__romance h1 {
        flex-shrink: 0; }
      main .history__romance p {
        flex-grow: 2; }
      main .history__romance * {
        color: #E8E0D5; }
    main .history .cards-wedding {
      display: flex;
      width: 100%;
      padding: 24px; }
      main .history .cards-wedding__card {
        background-color: white;
        padding: 24px 24px 48px 24px;
        max-width: 500px;
        min-width: 300px;
        width: 100%;
        background-image: url("https://cdn0.matrimonio.com.pe/article-real-wedding/021/3_2/960/jpg/89129.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 75dvh;
        position: relative;
        overflow: hidden;
        justify-content: space-between;
        transition: all 200ms ease; }
        main .history .cards-wedding__card * {
          color: #E8E0D5;
          text-align: center;
          transition: all 200ms ease; }
        main .history .cards-wedding__card .title {
          padding: 12px;
          background-color: #924032;
          z-index: 1; }
        main .history .cards-wedding__card p {
          z-index: 1; }
        main .history .cards-wedding__card .shadow {
          width: 100%;
          background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
          height: 65%;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 0; }
        main .history .cards-wedding__card:hover {
          transform: scale(1.01); }
          main .history .cards-wedding__card:hover .shadow {
            height: 75%; }
        main .history .cards-wedding__card:not(__card) {
          background-color: red; }
    @media (max-width: 950px) {
      main .history .cards-wedding {
        flex-wrap: wrap; }
        main .history .cards-wedding__card {
          max-width: none; } }
