* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body, button {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif; }

p {
  font-size: 22px;
  font-weight: 400; }

a {
  text-decoration: none; }

.login main section .form, .login main section .form form, .login main section .form form .form-input, .home__image div, .home__targets .card, .home__targets .card__one, main .history, main .history .cards-wedding__card, .wedding-body .wedding section div .card, .wedding-body .wedding section div .card__one, .service-body .service section, .service-body .service section div {
  display: flex;
  flex-direction: column;
  gap: 8px; }

.login {
  background-color: #E8E0D5; }
  .login main {
    display: grid;
    place-content: center;
    height: 100dvh;
    background-color: #E8E0D5;
    background-image: url("/images/1x/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .login main section {
      width: 100dvw;
      display: flex;
      justify-content: center;
      height: 100dvh;
      overflow: hidden;
      align-items: center; }
      .login main section .form {
        padding: 24px;
        min-width: 300px;
        width: 100%;
        height: 600px;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        position: relative; }
        .login main section .form h1 {
          text-transform: uppercase;
          font-weight: 400; }
        .login main section .form .divider {
          height: 4px;
          width: 80%;
          background-color: #BE6E53; }
        .login main section .form * {
          text-align: center;
          color: #6A725D; }
        .login main section .form form {
          z-index: 1;
          align-items: center;
          height: 380px;
          justify-content: space-between; }
          .login main section .form form .form-input {
            gap: 12px; }
            .login main section .form form .form-input label {
              font-size: 22px; }
            .login main section .form form .form-input input {
              padding: 8px;
              box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.12);
              border-radius: 12px;
              border: 1px solid #6A725D; }
        .login main section .form button {
          padding: 12px 16px;
          width: 70%;
          border-radius: 12px;
          color: #E8E0D5;
          background-color: #924032;
          border: 0;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
          transition: all 200ms; }
          .login main section .form button:hover {
            background-color: #BE6E53;
            box-shadow: 2px 8px 4px rgba(0, 0, 0, 0.15);
            transform: translateY(-2px); }
        .login main section .form embed {
          width: 100%; }
        .login main section .form img {
          position: absolute;
          z-index: 0;
          width: 100%;
          max-width: 800px;
          min-width: 800px;
          object-fit: contain;
          top: -80px; }

header {
  background-color: #924032;
  z-index: 10; }
  header nav {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 10; }
    header nav ul {
      max-width: 1200px;
      display: flex;
      gap: 8px;
      width: 100%;
      justify-content: space-between;
      padding: 24px;
      text-decoration: none;
      list-style: none;
      align-items: center; }
      header nav ul li * {
        color: #E8E0D5;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600; }
        header nav ul li * img {
          color: #E8E0D5; }
      header nav ul embed {
        max-width: 300px;
        width: 100%;
        min-width: 100px; }
      header nav ul .divisor-v {
        width: 2px;
        height: 100%;
        background-color: #E8E0D5; }
  header .menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer; }
    header .menu-icon .bar {
      width: 30px;
      height: 3px;
      background-color: #E8E0D5;
      margin: 3px 0; }
  header .contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    display: none; }
    header .contain embed {
      max-height: 40px; }
  @media (max-width: 768px) {
    header .menu-icon {
      display: flex; }
    header .contain {
      display: flex; }
    header nav {
      display: none; }
      header nav ul {
        flex-direction: column; }
        header nav ul embed {
          display: none; }
        header nav ul .divisor-v {
          display: none; }
    header #nav.active {
      display: flex; } }

.home {
  width: 100%; }
  .home__image {
    height: 90dvh;
    position: relative;
    overflow: hidden; }
    .home__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .home__image div {
      position: absolute;
      width: 100%;
      bottom: 10%;
      align-items: center; }
      @media (max-width: 1007px) {
        .home__image div img:first-child {
          max-width: 510px;
          object-fit: contain;
          max-height: 360px; } }
      .home__image div img:first-child {
        max-width: 510px;
        object-fit: contain; }
      .home__image div p {
        text-transform: uppercase;
        font-weight: 700; }
        .home__image div p i {
          font-weight: 400; }
      .home__image div embed {
        max-width: 510px; }
      .home__image div * {
        text-align: center;
        color: #E8E0D5; }
  .home__targets {
    background-color: #E8E0D5;
    background-image: url("/images/1x/fondo.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 60dvh;
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center; }
    .home__targets .card {
      gap: 18px;
      padding: 24px;
      background-image: url("/images/1x/marco.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      aspect-ratio: 2/3;
      border-radius: 12px;
      width: 100%;
      max-width: 450px;
      min-width: 300px;
      height: fit-content;
      justify-content: center;
      transition: all ease 200ms;
      align-items: center; }
      .home__targets .card:first-child__one embed {
        max-width: 150px !important; }
      .home__targets .card__one {
        gap: 24px;
        padding: 0px 24px; }
        .home__targets .card__one embed {
          width: 100%;
          max-width: 200px;
          min-width: 100px; }
        .home__targets .card__one i {
          font-size: 17px; }
        .home__targets .card__one span {
          color: #924032;
          font-size: 54px;
          font-weight: 600; }
      .home__targets .card:hover {
        transform: translateY(-6px); }
      .home__targets .card * {
        text-align: center;
        color: #6A725D; }
      .home__targets .card .divider {
        height: 4px;
        width: 80%;
        background-color: #BE6E53; }
    .home__targets .background-image {
      width: 100%; }
      .home__targets .background-image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

main {
  background-color: #6A725D;
  background-image: url("/images/1x/fondo-verde.png"); }
  main .history {
    align-items: center; }
    main .history section {
      max-width: 1200px; }
    main .history__romance {
      padding: 48px 24px;
      display: flex;
      gap: 24px;
      min-height: 15dvh;
      align-items: center; }
      main .history__romance embed {
        flex-shrink: 0;
        width: 330px; }
      main .history__romance i {
        flex-grow: 2;
        font-size: 22px; }
      main .history__romance * {
        color: #E8E0D5; }
    @media (max-width: 750px) {
      main .history__romance {
        flex-direction: column; }
        main .history__romance * {
          text-align: center; } }
    main .history .cards-wedding {
      display: flex;
      width: 100%;
      padding: 24px;
      justify-content: space-between;
      gap: 24px; }
      main .history .cards-wedding__card {
        background-color: white;
        padding: 24px 24px 48px 24px;
        border-radius: 24px;
        max-width: 500px;
        min-width: 300px;
        width: 100%;
        background-image: url("https://cdn0.matrimonio.com.pe/article-real-wedding/021/3_2/960/jpg/89129.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 75dvh;
        position: relative;
        overflow: hidden;
        justify-content: space-between;
        transition: all 200ms ease; }
        main .history .cards-wedding__card * {
          color: #E8E0D5;
          text-align: center;
          transition: all 200ms ease; }
        main .history .cards-wedding__card .title {
          padding: 12px;
          z-index: 1;
          text-transform: uppercase;
          height: 70%;
          position: relative; }
          main .history .cards-wedding__card .title div {
            position: absolute;
            bottom: 0;
            width: 100%; }
            main .history .cards-wedding__card .title div embed {
              width: 70%; }
          @media (max-width: 540px) {
            main .history .cards-wedding__card .title div {
              bottom: 30%; } }
          @media (max-width: 400px) {
            main .history .cards-wedding__card .title div {
              bottom: 50%; } }
        main .history .cards-wedding__card i {
          z-index: 1;
          font-size: 22px; }
        main .history .cards-wedding__card .shadow {
          width: 100%;
          background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
          height: 80%;
          position: absolute;
          bottom: 0;
          left: 0;
          z-index: 0; }
        main .history .cards-wedding__card:hover .shadow {
          height: 85%; }
        main .history .cards-wedding__card--second {
          background-image: url("https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2022/01/20/16426946390095.jpg"); }
    @media (max-width: 950px) {
      main .history .cards-wedding {
        flex-wrap: wrap; }
        main .history .cards-wedding__card {
          max-width: none; } }

.wedding-body {
  background-color: #E8E0D5;
  background-image: url("/images/1x/fondo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .wedding-body .wedding {
    position: relative;
    background-image: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .wedding-body .wedding section {
      display: flex;
      z-index: 2;
      justify-content: center;
      position: relative;
      height: 100%;
      align-items: center;
      padding: 24px; }
      @media (max-width: 970px) {
        .wedding-body .wedding section {
          align-items: flex-start; } }
      .wedding-body .wedding section div {
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        justify-content: center; }
        .wedding-body .wedding section div .card {
          gap: 18px;
          padding: 24px;
          background-image: url("/images/1x/marco2@3x.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          aspect-ratio: 2/3;
          border-radius: 12px;
          width: 100%;
          max-width: 450px;
          min-width: 300px;
          height: fit-content;
          justify-content: center;
          transition: all ease 200ms;
          align-items: center; }
          .wedding-body .wedding section div .card *__one embed {
            max-width: 150px !important; }
          .wedding-body .wedding section div .card__one {
            gap: 24px;
            padding: 0px 24px; }
            .wedding-body .wedding section div .card__one:first-child {
              justify-content: center;
              align-items: center; }
            .wedding-body .wedding section div .card__one embed {
              width: 100%;
              max-width: 200px;
              min-width: 100px; }
            .wedding-body .wedding section div .card__one i {
              font-size: 17px; }
            .wedding-body .wedding section div .card__one span {
              color: #924032;
              font-size: 54px;
              font-weight: 600; }
            .wedding-body .wedding section div .card__one .circle {
              border-radius: 55%;
              aspect-ratio: 1/1;
              width: 100px;
              overflow: hidden; }
              .wedding-body .wedding section div .card__one .circle img {
                width: 100%;
                height: 100%;
                object-fit: cover; }
          .wedding-body .wedding section div .card:hover {
            transform: translateY(-6px); }
          .wedding-body .wedding section div .card * {
            text-align: center;
            color: #6A725D; }
          .wedding-body .wedding section div .card .divider {
            height: 4px;
            width: 80%;
            background-color: #BE6E53; }
    .wedding-body .wedding .palm-container {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
      top: 0; }
      .wedding-body .wedding .palm-container .palm {
        z-index: 0;
        width: 400px;
        position: absolute;
        bottom: 0;
        left: -80px; }
        .wedding-body .wedding .palm-container .palm--2 {
          right: -80px;
          left: auto;
          transform: scaleX(-1); }

.service-body {
  background-color: #6A725D; }
  .service-body .service {
    position: relative;
    background-image: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .service-body .service section {
      z-index: 1;
      position: relative;
      width: 100%;
      justify-content: center;
      align-items: center; }
      .service-body .service section div {
        align-items: center;
        justify-content: center;
        padding: 24px;
        z-index: 1;
        position: relative; }
        .service-body .service section div * {
          color: #E8E0D5;
          text-align: center; }
        .service-body .service section div img {
          max-width: 300px; }
        .service-body .service section div .service-button {
          background-color: #BE6E53;
          font-size: 24px;
          font-weight: 700;
          text-transform: uppercase;
          padding: 12px 18px;
          border: 0;
          border-radius: 34px; }
      .service-body .service section .palm-container {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        top: 0;
        z-index: 0; }
        .service-body .service section .palm-container .palm {
          z-index: 0;
          width: 400px;
          position: absolute;
          bottom: 0;
          left: -80px; }
          .service-body .service section .palm-container .palm--2 {
            right: -80px;
            left: auto;
            transform: scaleX(-1); }
    .service-body .service * i {
      font-size: 22px; }
    .service-body .service .map {
      background-image: url("/images/1x/fondo-verde.png");
      background-position: center;
      background-size: contain; }
      .service-body .service .map div {
        display: flex;
        flex-direction: row;
        gap: 24px;
        width: 100%;
        flex-wrap: wrap; }
        .service-body .service .map div embed {
          width: 100%;
          max-width: 600px; }
        .service-body .service .map div div {
          width: 100%;
          display: flex;
          flex-direction: column;
          background-image: url("/images/1x/marco.png");
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          aspect-ratio: 2/3;
          max-width: 500px;
          width: 100%;
          padding: 24px 48px; }
          .service-body .service .map div div * {
            color: #6A725D; }
          .service-body .service .map div div img {
            width: 100px;
            aspect-ratio: 1/1;
            border-radius: 60px; }

.divisor-service {
  height: 4px;
  width: 100%;
  max-width: 300px;
  background: linear-gradient(90deg, #f2d891 0%, #f7eee1 53%, #ca8e23 100%);
  padding: 0 !important; }
