header {
  background-color: $primary-color;
  z-index: 10;
  nav {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 10;
    ul {
      max-width: 1200px;
      display: flex;
      gap: 8px;
      width: 100%;
      justify-content: space-between;
      padding: 24px;
      text-decoration: none;
      list-style: none;
      align-items: center;
      & li * {
        color: $secondary-color;
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 600;
        & img {
          color: $secondary-color;
        }
      }
      & embed {
        max-width: 300px;
        width: 100%;
        min-width: 100px;
      }
      & .divisor-v {
        width: 2px;
        height: 100%;
        background-color: $secondary-color;
      }
    }
  }
  & .container-path {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: center;
    width: 100%;
    &__path {
      clip-path: polygon(0 0, 100% 0, 92% 93%, 8% 93%);
      background: linear-gradient(90deg, #f2d891 0%, #f7eee1 53%, #ca8e23 100%);
      width: 100%;
      max-width: 1200px;
      padding: 6px 12px 8px 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      & h2 {
        text-align: center;
        width: 100%;
        color: $tertiary-color;
        font-weight: 400;
        & span {
          padding-right: 8px;
        }
      }
      @media (max-width:1008px) {
        h2 {
          font-size: 17px;
        }
      }
    }
  }
  & .menu-icon {
      display: none;
      flex-direction: column;
      cursor: pointer;
      & .bar {
        width: 30px;
        height: 3px;
        background-color: $secondary-color;
        margin: 3px 0;
      }
    }
  & .contain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    display: none;
    & embed {
        max-height: 25px;
    }
  }
  @media (max-width: 768px) {
      .menu-icon {
        display: flex;
      }
      & .contain {
          display: flex;
        & embed {
        }
      }
      & nav {
        display: none;
        & ul {
            flex-direction: column;
            & embed {
                display: none;
            }
            & .divisor-v {
                display: none;
            }
        }
      }
      & #nav.active {
        display: flex;
      }
    }
}

