header {
    background-color: $primary-color;
    z-index: 10;
    nav {
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 10;
        ul {
            max-width: 1200px;
            display: flex;
            gap: 8px;
            width: 100%;
            justify-content: space-between;
            padding: 24px;
            text-decoration: none;
            list-style: none;
            align-items: center;
            & li * {
                color: $secondary-color;
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 600;
                & img {
                    color: $secondary-color;
                }
            }
            & embed {
                max-width: 300px;
                width: 100%;
                min-width: 100px;
            }
            & .divisor-v {
                width: 2px;
                height: 100%;
                background-color: $secondary-color;
            }
        }
    }
}