.login {
  background-color: $secondary-color;
  main {
    display: grid;
    place-content: center;
    height: 100dvh;
    background-color: $secondary-color;
    background-image: url("../images/1x/fondo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    section {
      width: 100dvw;
      display: flex;
      justify-content: center;
      height: 100dvh;
      overflow: hidden;
      position: relative;
      align-items: center;
      .form {
        padding: 24px;
        min-width: 300px;
        width: 100%;
        height: 600px;
        align-items: center;
        justify-content: center;
        max-width: 1200px;
        position: relative;
        z-index: 1;
        @extend %column;
        & h1 {
            text-transform: uppercase;
            font-weight: 400;
        }
        & .divider {
            height: 4px;
            width: 80%;
            background-color: $primary-variant;
        }
        & * {
          text-align: center;
          color: $tertiary-color;
        }
        form {
          @extend %column;
          z-index: 1;
          align-items: center;
          height: 380px;
          justify-content: space-between;
          .form-input {
            @extend %column;
            gap: 12px;
            & label {
                font-size: 22px;
            }
            & input {
                padding: 8px;
                box-shadow: 2px 4px 4px rgba(0,0,0,0.12);
                border-radius: 12px;
                border: 1px solid $tertiary-color;
            }
          }
        }
        & button {
          padding: 12px 16px;
          width: 70%;
          border-radius: 12px;
          color: $secondary-color;
          background-color: $primary-color;
          border: 0;
          box-shadow: 0px 4px 4px rgba(0,0,0,0.12);
          transition: all 200ms;
          &:hover {
            background-color: $primary-variant;
            box-shadow: 2px 8px 4px rgba(0,0,0,0.15);
            transform: translateY(-2px);
          }
        }
        & embed {
            width: 100%;
        }
        & img {
          position: absolute;
          z-index: 0;
          width: 100%;
          max-width: 800px;
          min-width: 800px;
          object-fit: contain;
          top: -80px;
        }
      }
      & .palm-container {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        & embed {
          width: 100%;
          position: absolute;
          max-width: 400px;
          bottom: -70px;
          &:first-child {
            left: -100px;
          }
          &:last-child {
            right: -100px;
            transform: scaleX(-1);
          }
        }
        @media (max-width:1008px) {
          display: none;
        }
      }
    }
  }
}
