.service-body {
    background-color: $tertiary-color;
    .service {
        position: relative;
        background-image: none;
        background-color: transparent;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        & .palm-container {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            top: 0;
            & .palm {
                z-index: 0;
                width: 400px;
                position: absolute;
                bottom: 0;
                left: -80px;
                &--2 {
                    right: -80px;
                    left: auto;
                    transform: scaleX(-1);
                }
            }
        }
    }
}