$primary-color: #3498db;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

a {
  color: $primary-color;
  text-decoration: none;
}

header {
    nav {
        ul {
            display: flex;
            gap: 8px;
            width: 100%;
            justify-content: space-between;
            padding: 24px;
            background-color: white;
            text-decoration: none;
            list-style: none;
            box-shadow: 0px 4px 8px rgba(0,0,0,0.12)
        }
    }
}